.home-title {
  font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
  font-size: 2em;
}
          
#content {
  max-width: 1600px;
  margin: 0 auto;
}
#Back-ground

main section {
  text-align: center;
}
.icon, .logo {
  width: 100px;
}
#hero-msg {
  text-align: center;
}
#hero-img {
  width: 60%;
}

.msg {
  background-color: rgb(240, 171, 103);;
  line-height: 1.5em;
}

body {
  background-color: white;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
}
header, nav, footer {
  background-color: rgb(240, 171, 103);
}
nav a {
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 35px;
}
  

main section img {
  box-sizing: border-box;
}
          
footer a {
  text-decoration: none;
}

button {
      padding: 1rem 3rem;
      font-size: 1rem;
      border: none;
      color: #fdcc04;
      background: #000;
      cursor: pointer;
      border-radius: 70px;
    }

    button-hover {
      background: #ffffff;
      color:#0566ee;
    }
    